.item {
  display: flex;
  justify-content: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-cell {
  width: 300px;
  text-align: center;
  border: 1px solid black;
  align-content: center;
}

.header {
  font-weight: bold;
}

.input-container {
  width: 300px;
  margin: 20px auto;
}

.input-box {
  width: 100%;
}
