.comment-container{
  padding-left:20px;
  display:flex;
  flex-direction:column;
}

.comment-node{
  padding-left:20px;
  margin:5px 5px;

}

.review-container{

}

.btn-container{
  padding-left: 10px;
}

.btn-node{
  cursor: pointer
}

.input-text{
  margin-right: 10px;
}

.img-node{
  width:20px;
  height:15px;
  cursor: pointer;
}