.progressBar-container {
  width: 300px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px auto;
  position: relative;
  overflow-x: hidden;
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  will-change: transform;
}

.progress-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}
